<web-app>
	<listener>
		<listener-class>MyDBListener</listener-class>
	</listener>
	<context-param>
		<param-name>drivername</param-name>
		<param-value>oracle.jdbc.OracleDriver</param-value>
	</context-param>
	<context-param>
		<param-name>connurl</param-name>
		<param-value>jdbc:oracle:thin:@//Aman_Tiwari:1521/xe</param-value>
	</context-param>
	<context-param>
		<param-name>dbuser</param-name>
		<param-value>advjava</param-value>
	</context-param>
	<context-param>
		<param-name>dbpwd</param-name>
		<param-value>java</param-value>
	</context-param>
	<servlet>
		<servlet-class>LoginServlet4</servlet-class>
		<servlet-name>LoginServlet4</servlet-name>
	<init-param>
		<param-name>dbqry</param-name>
		<param-value>select username from users where userid = ? and password = ?</param-value>
	</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginServlet4</servlet-name>
		<url-pattern>/LoginServlet4</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-class>SigninServlet4</servlet-class>
		<servlet-name>SigninServlet4</servlet-name>
	<init-param>
		<param-name>dbqry</param-name>
		<param-value>insert into users values(?, ?, ?)</param-value>
	</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>SigninServlet4</servlet-name>
		<url-pattern>/SigninServlet4</url-pattern>
	</servlet-mapping>
</web-app>
